html,
body,
div,
span,
applet,
object,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  touch-action: pan-x pan-y;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Noto Sans';
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  outline:none;
}

body {
  background: #ffffff;
  overflow: hidden;
  overscroll-behavior: contain;
  height: 100%;
}

button {
  border: none;
  background: none;
  font-family: 'Noto Sans';
  cursor: pointer;
  margin: 0 0;
}

input {
  box-sizing: border-box;
}

img {
  width: 100%;
}

dl,
dt,
dd,
ul,
li {
  list-style: none;
}

a {
  cursor: pointer;
}
a:link,
a:visited {
  text-decoration: none;
}
a:hover,
a:active {
  text-decoration: none;
}
a {
  color: inherit;
}
caption {
  display: block;
  visibility: hidden;
  position: absolute;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
}
i {
  font-style: normal;
}
.inner {
  display: block;
  overflow: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #e6e6e6;
  width: 6px;
  border-radius: 10px;
}

::-webkit-scrollbar-button {
  display: none;
}
